<!DOCTYPE html>
<html lang="en">
<style>
      .button {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #7aa8b7;
        border-radius: 6px;
        outline: none;
      }
    </style>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>

<body>
  <h1 style="color: #7aa8b7">Hit the road Yak</h1>
  <div>
      <a href="https://www.youtube.com/watch?v=a_cHddNaKQo?autoplay=1&mute=1" target="_blank">
         <img alt="Yak" src="/static/img_yak.jpg"
         width=300" height="140">
      </a>
  </div>
  <div>
  <p>
      <a class="button" style="text-decoration:none; color:#000000;" href="/yak-shop/order/">Order</a>
      <a class="button" style="text-decoration:none; color:#000000;" href="/yak-shop/herd/">Herd</a>
      <a class="button" style="text-decoration:none; color:#000000;" href="/yak-shop/stock/">Stock</a>
  </p>
  </div>

  <div>
  <p>Assignment by Joan Pla</p>
      </div>
</body>
</html>
